<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulation)/worlds/warehouse.world"/>
  </include>
  <include file="$(find simulation)/launch/human_spawn.launch"/>
<node name="moving_human_node" pkg="simulation" type="moving_human.py" />
</launch>
